@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");

.wrapper {
    
    padding: 70px;
    display: grid;
    justify-content: center;
    
    align-items: center;
    background-color: #ffffff;
}

.da-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    height: fit-content;
    width: fit-content;
}

.da-grid button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    border: none;
    border-radius: 23.4px;
    padding: 30px 15px;
    cursor: pointer;
    transition: transform 0.2s ease;
    width: 300px;
    height: 263.9px;
}

.da-grid button:hover {
    transform: scale(1.05);
}

.logo {
    display: flex;
    justify-content: center;
    /* border: red 3px solid; */
    width: fit-content;
    height: fit-content;
    align-items: flex-start;
}

.text-area {
    display: flex;
    align-self: flex-start;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 30px;
}

.New-Order-back {
    display: flex;
    align-self: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.logo img {
    width: 100%;
    height: 100%;
    margin-top: 0px;
}

.da-grid span {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
    font-weight: 600;
    color: #333;
}

.text-area span {
    color: black;
    opacity: 66%;
}

.New-Order-back button {
    display: flex;
    justify-content: center;
    align-items: center;
    size: fit-content;
    border: none;
}

.New-Order-back button span {
    color: #000;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}