    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");
    .login {
        display: flex;
        align-items: flex-end;
        /*THIS WAS PUT HERE FOR TESTING PURPOSES AN DEBUGGING*/
        /* background-color: #e5e5eb;
    border: rgb(227, 15, 15) 3px solid; */
        padding: 35px;
        margin: 30px;
        min-height: 100vh;
        flex-direction: column;
        margin-right: 0px;
    }
    
    .NameRow {
        gap: 73px;
        display: flex;
        width: 100%;
    }
    
    .form-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    
    .login h2 {
        color: rgb(8, 8, 8);
        text-align: left;
        padding: 15px;
        font-size: 32px;
        font-family: "Poppins", sans-serif;
        letter-spacing: 0px;
        justify-content: center;
        display: flex;
        max-width: 500px;
        width: 100%;
        font-weight: bold;
    }
    
    .login p {
        padding-bottom: 20px;
        text-align: left;
        font-size: 18px;
        letter-spacing: 0px;
        font-family: "Poppins", sans-serif;
        max-width: 500px;
        width: 100%;
        font-family: "Port Lligat sans", sans-serif;
        line-height: 22.5px;
        opacity: 60%;
    }
    
    .radio-item {
        display: flex;
        align-items: center;
        gap: 15px;
    }
    
    label {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 900;
        letter-spacing: 0px;
    }
    
    .gender-row {
        display: flex;
        gap: 200px;
    }
    
    .btn-sbmt {
        width: 254.7px;
        height: 46.8px;
        margin-left: 120px;
        font-size: 21.6px;
        font-family: "Poppins", sans-serif;
        color: white;
        background-color: #f5a524;
        border-radius: 8.1px;
        border-color: #f5a524;
        border-style: solid;
        font-weight: bold;
    }
    
    .btn-sbmt:hover {
        opacity: 0.6;
        cursor: pointer;
    }
    
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        gap: 25px;
    }
    
    .input1 {
        width: 217px;
        height: 45.9px;
        border: #b8b8b8 2px solid;
        outline: none;
    }
    
    .input2 {
        width: 504.9px;
        height: 45.9px;
        border: #b8b8b8 2px solid;
        border-style: solid;
        outline: none;
        box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.2);
        background-color: #ffffff;
    }
    
    .input1::placeholder {
        color: #b8b8b8;
        font-size: 14.4px;
        text-align: left;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
    }
    
    .input2::placeholder {
        color: #b8b8b8;
        font-size: 14.4px;
        text-align: left;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
    }
    
    .form-group p {
        font-family: "Poppins", sans-serif;
        font-size: 18px;
        font-weight: 900;
    }
    
    .input1:focus,
    .input2:focus {
        border-color: #f5a524;
        cursor: pointer;
    }
    
    .input1:hover,
    .input2:hover {
        cursor: pointer;
    }
    
    .split-screen {
        display: flex;
        flex-direction: row;
        height: 100vh;
        width: 100vw;
        margin: 0;
        overflow: hidden;
    }
    
    .image {
        flex: 0.8;
        background-image: url("/images/Group 24.svg");
        background-size: cover;
        background-position: center;
        height: 100vh;
        size: 90%;
        /* background-color: #e5e5eb;
            border: rgb(227, 15, 15) 3px solid; */
        align-items: center;
        justify-content: flex-end;
        display: flex;
    }
    
    .cmp1 h2 {
        font-size: 40px;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        opacity: 74%;
    }
    
    .cmp1 {
        display: flex;
        width: 200px;
        justify-content: center;
        transform: translateY(-20px) translateX(155px);
    }
    
    .cmp2 {
        display: flex;
        width: 200px;
        justify-content: center;
        transform: translateX(-45px) translateY(-140px);
    }
    
    .cmp2 button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    
    .cmp2 h2 {
        font-size: 40px;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        color: rgb(255, 255, 255);
        opacity: 94%;
    }